{{- if and (.Values.ingress.tls.useExternal) (and .Values.ingress.tls.certificate .Values.ingress.tls.key) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.ingress.tls.useExternal }}
type: kubernetes.io/tls
data:
  tls.crt: {{ .Values.ingress.tls.certificate | b64enc | quote }}
  tls.key: {{ .Values.ingress.tls.key | b64enc | quote }}
{{- end -}}